@use './variables' as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex-mixin($element-width) {
  display: flex;
  position: relative;
  width: $element-width;
}
@mixin flex-mixin--row ($element-width) {
  @include flex-mixin($element-width);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-mixin--column ($element-width) {
  @include flex-mixin($element-width);
  flex-direction: column;
  justify-content: center;
}

@mixin set-font($default-size, $default-height, $tablet-size, $tablet-height, $font-weight) {
  font-size: $default-size;
  line-height: $default-height;
  font-weight: $font-weight;
  @include tablet {
    font-size: $tablet-size;
    line-height: $tablet-height;
    font-weight: $font-weight;
  }
}

@mixin heading-margin() {
  margin: 0 0 0.5rem;
  @include tablet {
    margin: 0 0 0.5rem;
  }
}

@mixin component-spacing() {
  gap: $spacing--mobile;
  @include tablet {
    gap: $spacing--tablet;
  }
}

@mixin zero-spacing {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  line-height: 100%;
}

@mixin section-padding {
  padding: $padding-top--mobile $page-margin--mobile $padding-bottom--mobile;
  @include tablet {
    padding: $page-margin--mobile $page-margin--tablet;
  }
}

@mixin responsive-container($width) {
  @include flex-mixin($width);
  @include component-spacing;
  margin: 0;
  padding: 0;
}

@mixin card {
  @include flex-mixin--column(100%);
  padding: $spacing--mobile;
  width: 100%;
  border-radius: $border-radius;
}

@mixin responsive-column($width) {
  @include flex-mixin--column($width);
  @include component-spacing;
  width: 100%;

  @include tablet {
    width: $width;
  }
}

@mixin modal-mixin {
  position: fixed;
  background-color: $off-white;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  padding: $padding-top--mobile $spacing--mobile $padding-bottom--mobile; 
  right: 0;
  top: 0;
  overflow: auto;
  border: none;
  outline: none;
  z-index:5;

  &::backdrop {
    position: fixed;
    background-color: rgba(20, 37, 65, 0.5);
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 4;
  }
}

@mixin icon--hover {
  border-radius: .25rem;

  &:hover {
    cursor: pointer;
    box-shadow: $box-shadow;
    transition: transform 0.5s;
  }
}

@mixin error-state {
  background-color: $turquoise-20;
}