@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;


.pill {
  border-radius: .75rem;
  padding:  0.25rem.5rem;
  background-color: $turquoise;
  box-shadow: $box-shadow;

  // &--absolute {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  // }

  &__text {
    color: $dark-blue;
    font-size: .8125rem;
    text-transform: capitalize;
    margin: 0;

    @include tablet {
      font-size: .875rem;
    }
  }
}