@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;


.pill {
  border-radius: .75rem;
  padding:  0.25rem.5rem;
  background-color: $turquoise;

  &--blue {
    @extend .pill;
    background-color: $dark-blue;

    & > .pill__text {
      color: $button-text-color;
    }
  }

  &__text {
    color: $dark-blue;
    font-size: .8125rem;
    margin: 0;

    @include tablet {
      font-size: .875rem;
    }
  }
}