@use '@/app/_styles/variables' as *;
@use '@/app/_styles/globals' as *;
@use '@/app/_styles/mixins' as *;

.filter-menu {
  @include modal-mixin;
  position: fixed;
  background-color: $off-white;
  width: $filter-menu-width;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  padding: $page-margin--mobile $spacing--mobile; 
  right: 0;
  top: 0;
  overflow: auto;
  justify-self: flex-end;
  border: none;

  &__button {
    position: fixed;
    bottom: $spacing--tablet;
    width: $filter-menu-content-width;
    box-sizing: border-box;
    color: white;
    opacity: 1;
  }

  &__subtitle {
    @extend .subtitle;
    margin-top: 1.5rem;
    margin-bottom: .75rem;
    color: $secondary-text-color;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.filter-form {
  @include flex-mixin--column(100%);
  gap: .75rem;
}