@use '../../_styles/variables' as *;
// @use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;

.filter-menu {
  position: fixed;
  background-color: $off-white;
  width: 19.9375rem;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  padding: $page-margin--mobile  $page-margin--mobile; 
  right: 0;
  top: 0;
  overflow: auto;
  justify-self: flex-end;
}

.filter-form {
  @include flex-mixin--column(100%);
}

.backdrop {
  position: fixed;
  background-color: rgba(20, 37, 65, 0.2);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 4;
}