@use '../../_styles/variables' as *;
// @use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;

.filter-menu {
  position: fixed;
  width: 19.9375rem;
  height: 100vh;
  box-sizing: border-box;
  justify-self: right;
  padding: $page-margin--mobile  $page-margin--mobile; 
  // padding: 0;
  // margin: 0;
  // bottom: 0;
}