@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;

header {
  display: none; 

  @include tablet {
    @include flex-mixin--row(100%);
    border-bottom: $divider;
    background-color: $off-white;
    color: white;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 3;
    height: $header-height--tablet;
    padding: 1rem $page-margin--tablet;
    box-sizing: border-box;
  }
  @include desktop {
    padding: 0;
  }
}

.header-container {
  @include desktop {
    margin: 0 auto;
    box-sizing: border-box;
    // Add 16px to max content width to align it with <main> content, since header doesn't have a scrollbar
    min-width: calc($max-content-width + 16px);
    max-width: calc($max-content-width + 16px);
  }
}