@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;

$collapsible-header-height: 3rem;
$swap-exercise-width: 32.5rem;

.exercise-list {
  @include modal-mixin;
  gap: 0;
  min-width: 100vw;

  & .close-icon {
    right: $spacing--mobile;
  }

  @include tablet {
    min-width: $swap-exercise-width;
    max-width: $swap-exercise-width;
    
    & .close-icon {
      left: calc($swap-exercise-width - $spacing--mobile);
    }
  }

  
  &__section {
    border-bottom: $input-border;
    gap: 0;
  }
}

.hidden {
  display: none;
}

.collapsible {
  padding: 0;

  &__header {
    @include flex-mixin--row(100%);
    height: $collapsible-header-height; 
    padding: 0;

    &:hover {
      background-color: $dark-blue-10;
    }
     
  }

  &__body {
    box-shadow: inset 0 .125rem .25rem $dark-blue-shadow;
  }

  &__title {
    margin: 0;

    &--current {
      @extend .collapsible__title;
      text-decoration: underline;
      text-underline-offset: .25rem;
    }
  }

  &__list-item {
    @include flex-mixin--row(100%);
    justify-content: flex-start;
    gap: $spacing--mobile;
    height: $collapsible-header-height;
    padding: 0 $spacing--mobile;

    &:hover {
      background-color: $turquoise-40;
      box-shadow: inset 0 0 .5rem $dark-blue-shadow--light;
    }
  }

  &__exercise {
    margin: 0;
  }

  &__arrow {
    @include icon--hover;
    width: 1.5rem;
    position: absolute;
    top: calc($collapsible-header-height / 2);
    transform: translateY(-50%);
    right: 0;
    border-radius: .25rem ;
  }
}
