@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;

.streak {
  @include flex-mixin--row(100%);
  box-sizing: border-box;
  @include tablet {
    width: auto;
    gap: $spacing--mobile;
  }

  &__day {
    @include flex-mixin--column(auto);
    align-items: center;
    gap: 0 !important;
  }

  &__icon {
  width: 32px;
  aspect-ratio: 1;
  }

  &--scroll {
    @extend .scroll-div--horizontal;
    height: 100%;
  }
}