@use './variables' as *;
@use './mixins' as *;
// @use './fonts' as *;

* {
  @include zero-spacing;
  font-size: 1rem;
}

main {
  padding: 1rem $page-margin--tablet;
  display: flex;
  background-color: $test-color;
}


h1 {
  color: blue;
}

header, footer {
    @include flex-mixin--row(100%);
    background-color: black;
    color: white;
    font-weight: bold;
}

header {
    position: fixed;
    top: 0;
    z-index: 3;
    height: $header-height--tablet;
    padding: 1rem $page-margin--tablet;
    box-sizing: border-box;
}

main {
    // shift the page content down according to header height
    position: relative;
    @include tablet {
        top: $header-height--tablet;
    }
}

main, div, section, article {
    @include flex-mixin--column(100%);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2, h3, h4, h5 {
    @include heading-margin();
}
