@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;

.card {
  flex-direction: row;
  background-color: $test-color;

  &__property-key {
    display: none;

    &:first-of-type {
      display: flex;
    }
  }

  &__property-value {
  }

}