@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;

header {
  display: none; 

  @include tablet {
    @include flex-mixin--row(100%);
    border-bottom: $divider;
    background-color: $off-white;
    color: white;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 3;
    height: $header-height--tablet;
    padding: 1rem $page-margin--tablet;
    box-sizing: border-box;

  }
}