@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;

header {
  background-color: pink;
  padding: $padding-top--mobile $page-margin--mobile;
  @include tablet {
    padding: $page-margin--mobile $page-margin--tablet;
  }
}