@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;

.circle-tag {
  @include flex-mixin--column(1.5rem);
  align-items: center;
  background-color: $dark-blue;
  aspect-ratio: 1;
  border-radius: 50%;
}

.tag-text {
  font-size: .75rem;
  color: $tag-text-color;
  width: 100%;
  text-align: center;
  margin: 0;
  line-height: 100%;
}

.discreetness {

  & > .tag-text {
    color: white;
  }

  &--1 {
    background-color: $dark-blue-10;
  }

  &--2 {
    background-color: $dark-blue-20;
  }

  &--3 {
    background-color: $dark-blue-40;
  }

  &--4 {
    background-color: $dark-blue-60;
  }

  &--5 {
    background-color: $dark-blue-80;
  }
}