@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;

input {
  border-radius: $border-radius;
  font-size: 14px;
  padding: .75rem 1rem;
}



.input {
  outline: none;
  border: $input-border;

  &--small {
    @include flex-mixin--row(100%);
    @extend .input;
    width: calc((100% - .5rem) / 2);
  }

  &--wide {
    @include flex-mixin(100%);
    @extend .input;
    width: 100%;
  }
}
