@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;

input {
  border-radius: $border-radius;
  font-size: 14px;
  padding: .75rem 1rem;
}

.input {
  outline: none;
  border: $input-border;

  &--small {
    @include flex-mixin--row(100%);
    @extend .input;

    @include tablet {
      width: $item-width-1;
    }
  }

  &--wide {
    @include flex-mixin(100%);
    @extend .input;
    width: 100%;

    @include tablet {
      width: $item-width-2;
    }
  }
}
