@use '../../_styles/variables' as *;
@use '../../_styles/mixins' as *;

video, iframe {
  box-sizing: content-box;
  aspect-ratio: 16 / 9;
  border: none;
  border-radius: $border-radius;
  max-height: $max-hero-height--mobile;

  @include tablet {
    max-height: $max-hero-height--tablet;
  }

  @include desktop {
    width: calc(100% - $form-width--tablet - $spacing--tablet);
  }
}