@use './_styles/globals.scss' as *;
@use './_styles/variables' as *;
@use './_styles/mixins' as *;

.list {
  gap: 1rem;
}

.login {
  height: calc(100vh - $nav-bar-height--mobile - $header-height--tablet);
  justify-content: center;
  height: 100vh;
  background-color: $off-white;
  padding: $page-margin--mobile;
  @include tablet {
    padding: $page-margin--tablet;
  }
  @include desktop {
    width: $form-width--tablet;
    margin: 0 auto;
  }
}