@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;

.exercise {
  flex-direction: column;
  background-color: pink;

  &__property {
    flex-direction: column;

  }

}