@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;


.hidden {
  display: none;
}

.collapsible {
  &__header {
    &--current {
      text-decoration: underline;
      text-underline-offset: .25rem;
    }
  }
}
