@use '../../_styles/variables' as *;
@use '../../_styles/globals' as *;
@use '../../_styles/mixins' as *;



.exercise-card {
  @include card;
  background-color: $turquoise;
  height: 5.0625rem;

  &__title {
    @extend p;
  }

  &__top {
    @include flex-mixin--row(100%);
  }

  &__bottom-text {
    font-size: .875rem;
  }
}


.exercise-tag {
  &-div {
    @include flex-mixin--row(auto);
  }
}