@use './variables' as *;
@use './mixins' as *;
@use './fonts' as *;

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: $dark-blue;
  font-family: $font-family;
  box-sizing: border-box;
}

h1 {
  font-size: 32px;
  text-transform: capitalize;
  @include heading-margin;
}

header, footer {
}

.main {
  @include flex-mixin--column(100%);
  @include component-spacing;
  padding: $page-margin--mobile $page-margin--mobile $bottom-padding--mobile;
  background-color: $off-white;
  min-height: 100vh;
  justify-content: flex-start;
  @include tablet {
    // shift the page content down according to header height
    position: relative;
    top: $header-height--tablet;
    padding: $page-margin--tablet;
    min-height: $main-height--tablet;
  }
}

section, article, ul {
  @include flex-mixin--column(100%);
  margin: 0;
}

section, article {
  @include component-spacing;
}

ul {
  gap: .5625rem;
}

.responsive-section {
  @include flex-mixin--column(100%);
  @include component-spacing;
  @include tablet {
    @include flex-mixin--row(100%);
    align-items: flex-start;
  }
}

.responsive-column--50 {
  @include responsive-column(50%);
}

.flex-column-div {
  @include flex-mixin--column(auto);
  @include component-spacing;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h2, h3, h4, h5 {
  @include heading-margin();
  text-transform: capitalize;
}

.headline1 {
  font-size: 56px;
}

.headline2 {
  font-size: 53px;
}

.headline3 {
  font-size: 40pt; // https://simplecss.eu/pxtoems.html
}

.headline4 {
  font-size: 26pt;
}

.headline5 {
  font-size: 22pt;
}

.headline6 {
  font-size: 20px;
}

.subtitle {
  font-size: 1rem;
}

article {
  @include flex-mixin--column(100%);
}

p {
  margin: 0.5em 0;
  font-size: 14pt; // 19px

  &:last-child {
    margin-bottom: 0;
  }
}

.p2 {
  font-size: .75rem;
}

.card-container {
  @include flex-mixin--column(100%);
  gap: $spacing--mobile;

}

.card {
  @include flex-mixin--column(100%);
  border-radius: $border-radius;
}

.form, form {
  @extend section;

  &__input-group {
    @include flex-mixin--row(100%);
    gap: $spacing--mobile;
  }

  &__fields-container {
    @extend section;
  }

  &__number-input-div {
    @include flex-mixin--row(100%);
    flex-direction: row;
    gap: $spacing--mobile;
  }
}

.flex-row-container {
  @include flex-mixin--row(100%);
  @include component-spacing;
}

.scroll-div {
  scrollbar-width: thin;
  scrollbar-color: red;
  &--horizontal {
    @extend .flex-row-container;
    @extend .scroll-div;
    overflow: scroll visible;
  }
}