$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


$font-family: 'Graphik Medium', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

$header-height--tablet: 5rem;
$nav-bar-height--mobile: 4.75rem;
$main-height--tablet: calc(100vh - $header-height--tablet);
$main-height--mobile: calc(100vh - $nav-bar-height--mobile);

$page-margin--mobile: 1.5rem;
$spacing--mobile: 1rem;
$bottom-padding--mobile: calc($nav-bar-height--mobile + $page-margin--mobile);


$page-margin--tablet: 2rem;
$spacing--tablet: 1.5rem;

$card-title-font-size--mobile: .875rem;

$form-spacing--mobile: 1.5rem;
$form-spacing--tablet: 1.5rem;
$border-radius: .625rem;

$turquoise: #C7EFEF;
$dark-blue: #142541;
$secondary-text-color: #667183;
$button-text-color: white;
$off-white: #FDFDFD;
$divider: 2px solid #727C8D;
$input-border: 1px solid #142541;

$form-padding--mobile: 0.75rem;
$form-padding--tablet: 1rem;

$filter-menu-width: 19.9375rem;
$filter-menu-content-width: calc($filter-menu-width - (2 * $spacing--mobile));

$max-hero-height--mobile: calc($main-height--mobile - $spacing--mobile * 5);
$max-hero-height--tablet: calc($main-height--tablet - $spacing--tablet * 5);

$max-content-width: calc(1280px - 8 * $page-margin--tablet);