$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$page-margin--mobile: 1.5rem;
$spacing--mobile: 1rem;

$page-margin--tablet: 2rem;
$spacing--tablet: 1.5rem;

$card-title-font-size--mobile: .875rem;

$form-spacing--mobile: 1.5rem;
$form-spacing--tablet: 1.5rem;
$border-radius: .625rem;

$turquoise: #C7EFEF;
$dark-blue: #142541;
$button-text-color: white;

$form-padding--mobile: 0.75rem;
$form-padding--tablet: 1rem;

$header-height--tablet: 5rem;
$max-content-width: calc(1280px - 8 * $page-margin--tablet);